@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ 
    var twitterHandle = Model.Content.AncestorOrSelf(2).GetPropertyValue<string>("twitterHandle");
}
<div class="inline-social-buttons">
    <div class="fb-like" data-href="@(Model.Content.GetPropertyValue("canonicalLink") ?? string.Format("https://{0}{1}", Request.Url.Authority, Request.Url.AbsolutePath))" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out" data-via="@twitterHandle" data-related="@twitterHandle">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <div class="g-plus" data-action="share" data-annotation="bubble"></div>
</div>
